<!-- <h2 appMycolor>Angular Examples:</h2><hr/> -->
<!-- <h3>This is App/Root Component</h3>
<app-chiru></app-chiru> -->
<!-- <app-interpolation-binding></app-interpolation-binding> -->
 <!-- <app-property-binding></app-property-binding> -->
  <!-- <app-event-binding></app-event-binding> -->
   <!-- <app-two-way-binding></app-two-way-binding> -->
    <!-- <app-struct-dir></app-struct-dir> -->
     <!-- <app-attr-directive></app-attr-directive> -->

    <!-- <app-products></app-products> -->

<!-- <app-struct-dir></app-struct-dir> -->
 <!-- <app-predefined-pipes></app-predefined-pipes> -->
  <!-- <app-parent></app-parent> -->
   <!-- <app-first></app-first>
   <app-second></app-second> -->
   <app-tdf></app-tdf>
    <!-- <app-mapp-tdf></app-mdf> -->