<pre>
    {{myname | lowercase}}
    {{myname | uppercase}}
    {{myname | titlecase}}
    {{myname | slice:7:12}}
    {{myNumber | number:'2.2-3'}}
    {{myPercent | percent}}
    {{myPrice | currency:'EUR'}}
    {{myDate |date}}
    {{myDate |date:'fullDate'}}
    {{myDate |date:'shortDate'}}
    {{myDate |date:'mediumDate'}}
    {{myDate |date:'MM/dd/yyyy hh:mm:ss'}}
    {{customer | json}}
</pre>



<!-- myname:string = "suresh kumar"
myNumber:number = 1.456834
myPercent:number = 0.5
myDate:Date = new Date()
customer:object = {id:101, name:'chiranjeevi'} -->
